div.notes-bar {
  height: 100%;
  border: 1px solid #e7e7e7;
  overflow-y: scroll;
  position: absolute;
  width: 350px;
}

/*HEAD CARD*/
div.current-notebook-card {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 24px 20px 24px 24px;
  text-align: left;
  position: absolute;
  width: 350px;
  /*height: 120px;*/
  height: 100px;
  border-bottom: 1px solid #e7e7e7;
  margin: 0px;
  z-index: 1;
  opacity: 1;
  background-color: white;
}

div.notes-bar-title {
  color: #878787;
  font-size: 21px;
  letter-spacing: 0.5px;
  text-overflow: ellipsis;
  text-transform: uppercase;
  overflow: hidden;
  padding-right: 6px;
  white-space: nowrap;
  font-family: gotham, helvetica, arial, sans-serif;
  font-weight: 300;
  text-align: center;
  vertical-align: baseline;
  text-align: left;
  line-height: 26px;
}

div.count-holder {
  position: absolute;
  bottom: 5px;
}

span.note-count {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: gotham,helvetica,arial,sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #ababab;
}

i.fa-trash-o.note {
  color: white;
  position: absolute;
  top: 10px;
  right: 13px;
  font-size: 1.5em;
  z-index: 5;
}

i.fa-trash-o.note:hover {
  color: #747474;
  cursor: pointer;
}

i.edit-nb-icon {
  position: absolute;
  top: 5px;
  right: 5px;
}
/**/

/* note-CARDS*/

div.selected-note-card {
  background-color: transparent;
  border: 3px solid #D0D0D0;
  /*border-bottom: 3px solid #D0D0D0;*/
  height: 114px;
  width: 344px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

div.note-cards {
  top: 100px;
  position: relative;
  overflow-y: scroll;
}

div.note-card {
  height: 120px;
  width: 350px;
  margin: 0px;
  padding: 0px;
  /*top: 120px;*/
  position: relative;
  transition: color .15s ease-in;
  transition: background-color .15s ease-in;
}

div.note-card:hover {
  cursor: pointer;
  background-color: #2DBE60;
  color: white;
}

div.note-card:hover > ul > li {
  color: white;
}

li.delete-icon {
  width: 20%;
}

div.note-card > ul {
  margin: 0px;
  list-style: none;
  left: 24px;
overflow: hidden;
overflow-wrap: break-word;
position: absolute;
right: 24px;
top: 12px;
word-wrap: break-word;
bottom: 15px;
padding: 0px;
}
/*
div.note-card > ul {
  /*overflow-x: ellipsis;*/
  /*-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-family: gotham,helvetica,arial,sans-serif;
font-size: 11px;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 1px;
margin-bottom: 8px;*/
/*border-bottom: 1px solid #e7e7e7;*/
  /*padding:
}*/

li.card-body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: gotham, helvetica,arial,sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  transition: color .1s ease-in-out;
    transition-property: color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
    color: #878787;
left: 24px;
overflow: hidden;
overflow-wrap: break-word;
/*position: absolute;*/
right: 24px;
top: 12px;
word-wrap: break-word;
bottom: 15px;
}

li.card-timestamp {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: gotham,helvetica,arial,sans-serif;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 8px;
  color: #878787;
  transition: color .1s ease-in-out;
    transition-property: color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
    color: #878787;
left: 24px;
overflow: hidden;
overflow-wrap: break-word;
/*position: absolute;*/
right: 24px;
top: 12px;
word-wrap: break-word;
bottom: 15px;
}

div.note-card-line-break {
  margin: 0px 16px;
  border-bottom: 1px solid #e7e7e7;
  position: absolute;
  bottom: 0px;
  width: 318px;
}

li.card-title {
  transition: color .1s ease-in-out,width 0s ease-in-out .1s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: caecilia, times, serif;
  /*font-family: gotham, helvetica,arial,sans-serif;*/
  font-size: 16px;
  font-weight: 400;
  color: #4a4a4a;
  margin-bottom: 4px;
  max-height: 40px;
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
  line-height: 20px;
  width: 302px;
}
/*li.card-timestamp:hover, li.card-body:hover, li.card-title:hover {
  color: white;
}*/
/**/

i.fa-pencil-square-o {
  color: #747474;
  font-size: 20px;
  margin: 9px 0px 1px 2px;
}

i.fa-pencil-square-o:hover {
  color: #2DBE60;
  cursor: pointer;
}
