div.notes-bar {
  height: 100%;
  border: 1px solid #e7e7e7;
  overflow-y: scroll;
}

/*HEAD CARD*/
div.current-notebook-card {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 24px 20px 24px 24px;
  text-align: left;
  position: absolute;
  width: 350px;
}

div.card-title {
  color: #878787;
  font-size: 21px;
  letter-spacing: 0.5px;
  text-overflow: ellipsis;
  text-transform: uppercase;
  overflow: hidden;
  padding-right: 6px;
  white-space: nowrap;
  font-family: gotham, helvetica, arial, sans-serif;
  font-weight: 300;
  text-align: center;
  vertical-align: baseline;
  text-align: left;
}

div.count-holder {
  position: absolute;
  bottom: 5px;
}

span.note-count {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: gotham,helvetica,arial,sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #ababab;
}

img.edit-nb-icon {
  position: absolute;
  top: 5px;
  right: 5px;
}
/**/

/* note-CARDS*/
div.note-cards {
  top: 120px;
  position: relative;
  overflow-y: scroll;
}

.current-notebook-card {
  height: 120px;
  width: 350px;
  border: 1px solid black;
  margin: 0px;
  padding: 0px;
  position: absolute;
  z-index: 1;
  opacity: 1;
  background-color: white;
}

div.note-card {
  height: 120px;
  width: 350px;
  margin: 0px;
  padding: 0px;
  /*top: 120px;*/
  position: relative;
}

div.note-card:hover {
  cursor: pointer;
  background-color: #2DBE60;
  color: white;
}

li.delete-icon {
  width: 20%;
}

li.delete-icon:hover {
  background-color: grey;
  border: 1px solid blue;
}

div.note-card > ul {
  margin: 0px;
  list-style: none;
}

div.note-card > ul > li {
  /*overflow-x: ellipsis;*/
  transition: color .1s ease-in-out,width 0s ease-in-out .1s;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-family: caecilia,times,serif;
font-size: 16px;
font-weight: 400;
color: #4a4a4a;
margin-bottom: 4px;
max-height: 40px;
overflow: hidden;
overflow-wrap: break-word;
text-overflow: ellipsis;
white-space: nowrap;
word-wrap: break-word;
line-height: 20px;
}

div.note-card-line-break {
  margin: 0px 16px;
  border-bottom: 1px solid #e7e7e7;
  position: absolute;
  bottom: 0px;
  width: 318px;
}
/**/
