
ul.tag-list {
  list-style: none;
  display: inline-block;
  /*display: flex;*/
  /*flex-direction: row;*/
  /*overflow-x: scroll;*/
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  width: 100%;
  white-space: nowrap;
}

input.tag-creator {
  /*width: 40px;*/
  /*width: auto;*/
  width: 60px;
  height: 15px;
  padding: 0px 0px 0px 3px;
  margin: 0px;
  min-width: 60px;
}

li.current-note-tag {
  /*display: flex;
  flex-direction: row;*/
  display: inline-block;
  justify-content: flex-start;
  margin-right: 5px;
  /*overflow-y: hidden;*/
  overflow-x: visible;
  height: 17px;
  padding: 2px 5px;
  color: #686868;
  /*width: 100%;*/
  white-space: nowrap;
  border-radius: 4px;
  border-color: #e7e7e7;
  border: 2px;
  background-color: #f6f6f6;
  font-family: gotham, helvetica,arial,sans-serif;
  font-size: 12px;
font-weight: 400;
line-height: 17px;
}

li.current-note-tag:hover {
  background-color: #2DBE60;
  /*color: white;*/
  cursor: default;
  transition: color .1s ease-in-out;
    transition-property: color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
    color: white;
}

.tag-relat-delete {
  margin: 0px;
}

.tag-relat-delete:hover {
  cursor: pointer;
}

input.tag-creator {
  display: inline-block;
  justify-content: flex-start;
  margin-right: 5px;
  /*overflow-y: hidden;*/
  overflow-x: visible;
  height: 17px;
  padding: 0px 3px;
  /*width: 100%;*/
  white-space: nowrap;
  border-radius: 4px;
  border-color: #e7e7e7;
  border: 1px;
  background-color: #f6f6f6;
  font-family: gotham, helvetica,arial,sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
}

div.tag-namer {
  display: inline-block;
}
