form.note-editor-page {
  left: 425px;
  position: fixed;
  height: 100%;
  width: 100%;
  border: 1px solid blue;
  /*margin-left: 15px;*/
  z-index: -1;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}

div.quill {
  height: 100%;
}

input.note-title {
  font-size: 28px;
  color: #2DBE60;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
}
