div.home-page-content {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0px;
  left: 0px;
}

div.page-content {
  display: block;
  left: 73px;
  position: fixed;
  height: 100%;
  z-index: -1;
}
