div.landing-page {
  background-color: #EFF2F3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 45px;
  padding: 20px 15px;
  min-width: 330px;
}

div.landing-body-content > video {
  width: 100%;
}

div.landing-content-container {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 540px;
  margin: 0 auto;
  padding: 0 20px;
  z-index: 3;
}

div.landing-body-content {
  /*top: 50%;*/
  /*left: 50%;*/
  display: block;
  /*background-color: white;*/
  position: relative;
  width: 100%;
  min-width: 530px;
  /*min-height: 100%;*/
  height: auto;
}

h2.landing-title {
  margin: 0rem 0rem 0.625rem 0rem;
  font-weight: normal;
  /*font-family: 'webfont_light',Helvetica,Arial,sans-serif;*/
  font-family: caecilia, times, serif;
  text-align: center;
  color: #2DBE60;
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 38px;
    font-size: 2.375rem;
    line-height: 48px;
    line-height: 3rem;
    text-align: center;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 10px;
}

div.right-panel {
  position: absolute;
  top: 30px;
  right: 20px;
  color: #717171;
  font-family: 'Gotham_SSm_3r',Helvetica,Arial,sans-serif;
}

div.right-panel:hover {
  cursor: pointer;
  border-bottom: 1px solid #696969;
  color: black;
}

/*experimental */

.st0 {
  fill:#2DBE60;
}
.st1 {
  fill-rule:evenodd;clip-rule:evenodd;fill:#666666;
}
/**/
p.sub-copy {
  /*font-family: 'webfont',Helvetica,Arial,sans-serif;*/
  font-family: caecilia, times, serif;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 30px;
    line-height: 1.875rem;
    text-align: center;
    color: #fff;
    -webkit-font-smoothing: antialiased;
  max-width: 540px;
  text-align: center;
}

div.video-overlay {
  position: absolute;
top: 0;
bottom: 0;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.3);
z-index: 2;
box-sizing: border-box;
}

div.logo-container {
  position: absolute;
  top: 0;
}

a.header-sprite {
  /*display: flex;
  flex-direction: row;*/
}

img.landing-logo {
  position: relative;
  top: 8px;
  width: 50px;
  height: auto;
}

div.watermark-cover {
  position: relative;
  top: -7px;
  background-color: #EFF2F3;
  width: 100%;
  height: 15px;
}

span.landing-logo-title {
  position: absolute;
  left: 45px;
  top: 25px;
  text-transform: uppercase;
  font-family: caecilia, times, serif;
  padding: 0;
  font-size: 25px;
  color: #2dbe60;
}

section.social-proof {
  width: 100%;
  background: #414141;
  margin: 0 auto;
  padding: 20px 0;
  box-sizing: border-box;
  display: block;
  position: relative;
  top: -5px;
}

section.social-proof > div.row {
  padding: 0 20px;
width: 100%;
max-width: 100%;
margin: 0 auto;
box-sizing: border-box;
}

section.social-proof > div.row > p {
      box-sizing: border-box;
      font-family: 'Gotham_SSm_4r',Helvetica,Arial,sans-serif;
font-size: 1rem;
line-height: 24px;
line-height: 1.5rem;
-webkit-font-smoothing: antialiased;
text-align: center;
color: #fff;
min-width: 530px;
}

section.social-proof > div.row > p > span.green {
font-family: 'Gotham_SSm_5r',Helvetica,Arial,sans-serif;
color: #2dbe60;
min-width: 300px;
overflow: hidden;
font-size: 1rem;
}

div.signup-button-container {
  width: 500px;
  margin: 0 auto;
}

div.signup-button-container:focus {
  outline: none;
}

button.signup-button-landing {
  display: block;
    width: 100%;
    font-family: 'Gotham_SSm_4r',Helvetica,Arial,sans-serif;
    margin-bottom: 15px;
    margin-top: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: normal;
    color: #fff;
    border: 0;
    padding: 15px 15px 12px;
    padding: 0.9375rem 0.9375rem 0.75rem;
    font-size: 0.9375rem;
        border-radius: 4px;
            box-sizing: border-box;
            text-align: center;
    text-decoration: none;
    min-width: 14.375rem;
        background: #2dbe60;
}

button.signup-button-landing:hover {
  background: #28a956;
  cursor: pointer;
}


/*TIPS at bottom*/
.new-story {
    margin-top: 40px;
    margin-bottom: 40px;
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 12px;
    font-size: 0.75rem;
    font-family: Helvetica,Arial,sans-serif;
    line-height: 1.3;
    text-rendering: optimizeLegibility;
}

.new-story .row {
    padding: 0 20px;
}
.row {
    width: 1160px;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 12px;
    font-size: 0.75rem;
    font-family: Helvetica,Arial,sans-serif;
    line-height: 1.3;
    text-rendering: optimizeLegibility;
}


.story-item {
    position: relative;
    padding: 45px 0;
    overflow: hidden;
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 12px;
    font-size: 0.75rem;
    font-family: Helvetica,Arial,sans-serif;
    line-height: 1.3;
    text-rendering: optimizeLegibility;
}
.story-image.note {
    padding-top: 28%;
    background-image: url(../img/homepage-redesign/new-story/NOTE.jpg);
}
.image-on-right .story-image {
    float: right;
}
.story-image {
    width: 50%;
    height: 0;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 12px;
    font-size: 0.75rem;
    font-family: Helvetica,Arial,sans-serif;
    line-height: 1.3;
    text-rendering: optimizeLegibility;
}

.story-content {
    width: 50%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 50px;

    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 12px;
    font-size: 0.75rem;
    font-family: Helvetica,Arial,sans-serif;
    line-height: 1.3;
    text-rendering: optimizeLegibility;
}

.new-story h2 {
    font-family: 'webfont',Helvetica,Arial,sans-serif;
    font-size: 30px;
    font-size: 1.875rem;
    line-height: 40px;
    line-height: 2.5rem;
    color: #586062;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 5px;
    padding: 0;
    margin: 0px 0px 10px 0px;
    margin: 0rem 0rem 0.625rem 0rem;
    font-weight: normal;
    box-sizing: border-box;
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 12px;
    font-size: 0.75rem;
    font-family: Helvetica,Arial,sans-serif;
    line-height: 1.3;
    text-rendering: optimizeLegibility;
}

.new-story p:last-of-type {
    margin-bottom: 0;
}

.new-story p {
    font-family: 'webfont',Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 26px;
    line-height: 1.625rem;
    color: #586062;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 20px;
    padding: 0;
    margin: 0px 0px 5px 0px;
    margin: 0rem 0rem 0.3125rem 0rem;
    box-sizing: border-box;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}


/**/
