div.landing-page {
  background-color: #EFF2F3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 45px;
  padding: 20px 15px;
  min-width: 330px;
}

div.landing-body-content > video {
  width: 100%;
}

div.landing-content-container {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 540px;
  margin: 0 auto;
  padding: 0 20px;
  z-index: 3;
}

div.landing-body-content {
  /*top: 50%;*/
  /*left: 50%;*/
  display: block;
  /*background-color: white;*/
  position: relative;
  width: 100%;
  min-width: 440px;
  height: auto;
}

h2.landing-title {
  margin: 0rem 0rem 0.625rem 0rem;
  font-weight: normal;
  /*font-family: 'webfont_light',Helvetica,Arial,sans-serif;*/
  font-family: caecilia, times, serif;
  text-align: center;
  color: #2DBE60;
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 38px;
    font-size: 2.375rem;
    line-height: 48px;
    line-height: 3rem;
    text-align: center;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 10px;
}

div.right-panel {
  position: absolute;
  top: 30px;
  right: 20px;
  color: #717171;
  font-family: 'Gotham_SSm_3r',Helvetica,Arial,sans-serif;
}

div.right-panel:hover {
  cursor: pointer;
}

/*experimental */

.st0 {
  fill:#2DBE60;
}
.st1 {
  fill-rule:evenodd;clip-rule:evenodd;fill:#666666;
}
/**/
p.sub-copy {
  /*font-family: 'webfont',Helvetica,Arial,sans-serif;*/
  font-family: caecilia, times, serif;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 30px;
    line-height: 1.875rem;
    text-align: center;
    color: #fff;
    -webkit-font-smoothing: antialiased;
  max-width: 540px;
  text-align: center;
}

div.video-overlay {
  position: absolute;
top: 0;
bottom: 0;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.3);
z-index: 2;
box-sizing: border-box;
}

div.logo-container {
  position: absolute;
  top: 0;
}

a.header-sprite {
  /*display: flex;
  flex-direction: row;*/
}

img.landing-logo {
  position: relative;
  top: 8px;
  width: 50px;
  height: auto;
}

div.watermark-cover {
  position: relative;
  top: -7px;
  background-color: #EFF2F3;
  width: 100%;
  height: 15px;
}

span.landing-logo-title {
  position: absolute;
  left: 45px;
  top: 25px;
  text-transform: uppercase;
  font-family: caecilia, times, serif;
  padding: 0;
  font-size: 25px;
  color: #2dbe60;
}

section.social-proof {
  width: 100%;
  background: #414141;
  margin: 0 auto;
  padding: 20px 0;
  box-sizing: border-box;
  display: block;
}

section.social-proof > div.row {
  padding: 0 20px;
width: 1160px;
max-width: 100%;
margin: 0 auto;
box-sizing: border-box;
}

section.social-proof > div.row > p {
      box-sizing: border-box;
      font-family: 'Gotham_SSm_4r',Helvetica,Arial,sans-serif;
font-size: 16px;
font-size: 1rem;
line-height: 24px;
line-height: 1.5rem;
-webkit-font-smoothing: antialiased;
text-align: center;
color: #fff;
}

section.social-proof > div.row > p > span.green {
font-family: 'Gotham_SSm_5r',Helvetica,Arial,sans-serif;
color: #2dbe60;
min-width: 300px;
overflow: hidden;
}
