div.notebook-modal-anim {
  position: absolute;
  left: 0;
  width: 459px;
  border: 1px solid #EFF2F3;
  background-color: #FFFFFF;
  height: 100%;
  top: 0px;
  bottom: 0px;
}

div.notebook-modal {
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: width 0.2s ease-in-out, left 0.2s ease-in-out 0.3s;
    transition-property: width, left;
    transition-duration: 0.2s, 0.2s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: initial, 0.3s;

}

div.notebook-header {
  display: flex;
  flex-direction; column;
  justify-content: space-between;
  padding: 2% 5%;
}

div.notebook-header > a {
  font-size: 1em;
}

/* MODAL TRANSFORMATION */
/*.notebook-modal-anim-enter {
  opacity: 0.00;
  transform: scale(0.7);
  transition: all 0.8s;
}

.notebook-modal-anim-enter.notebook-modal-anim-enter-active {
  opacity: 1;
  transform: scale(1);
}

.notebook-modal-anim-leave {
  opacity: 1;
  transform: scale(1);
  transition: all 0.2s;
}

.notebook-modal-anim-leave.notebook-modal-anim-leave-active {
  opacity: 0.00;
  transform: scale(0.7);
}*/
/**/

/*-webkit-transition: -webkit-transform 0.4s ease-in-out;
transition: width 0.2s ease-in-out, left 0.2s ease-in-out 0.3s;
  transition-property: width, left;
  transition-duration: 0.2s, 0.2s;
  transition-timing-function: ease-in-out, ease-in-out;
  transition-delay: initial, 0.3s;*/
