div.home-page {
  background-color: #EFF2F3;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 45px;
  padding: 20px 15px;
}

div.home-body-content {
  display: flex;
  flex-direction: column;
  background-color: white;
}

div.home-body-content > h2 {
  text-align: center;
  color: #2DBE60;
}

section.app-expl {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

section.app-expl > img {
  width: 50%;
  height: 50%;
}

section.app-expl > p {
  border: 1px solid #EFF2F3;
  padding: 5% 5%;
  margin: 10% 5%;
  background-color: #EFF2F3;
}
